[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pillow = "*"
requests = {extras = ["socks"], version = "*"}
wand = "*"
rethinkdb = "==2.3.0.post6"
requests-oauthlib = "*"
sentry-sdk = "*"
blinker = "*"
moviepy = "*"
redis = "*"
numpy = "*"
keras = "*"
scipy = "*"
gevent = "*"
gunicorn = "*"

[pipenv]
allow_prereleases = true
